.skills{
    background: var(--secon-bg-color);

}

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;

}

.skill-bar{

    margin-bottom: 2rem;

}

.skill-main h3{

    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;

}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background:var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;

}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html{
    width: 72%;
    animation: html 2s;
}