<section id="skills" class="skills">

    <div class="main-text">

        <h2>My Skills</h2>
      
    </div>

    <div class="skill-main">
        <div class="skill-left">
            <h3>Technical skills</h3>
            <div class="skill-bar">
                <div class="info">
                    <p>HTML</p>
                    <p>71%</p>
                </div>
                <div class="bar">
                    <span>html</span>
                </div>
            </div>
        </div>
        <div class="skill-right">
            <h3>Soft skills</h3>
        </div>
    </div>
</section>