<section id="home" class="home">
    <div class="home-content">
        <h1>Hi! I'm Hadi Hawi</h1>

        <div class="change-text">
           
        <h3>And&nbsp;I'm <span>Software&nbsp;Developer</span></h3>
        
        </div>
        <div class="btn-box">
            <app-custom-button text="Download CV" link="#"></app-custom-button>
            <app-custom-button text="Hire me Now!" link="#"></app-custom-button>
        </div>

        <!-- <div class="social-icons">
            <a href="#"> <i class='bx bxl-linkedin'></i></a>

        </div> -->

    </div>
    <div class="home-image">
        <div class="img-box">
            <img src="assets/img.png" alt="">
        </div>

    </div>

</section>