// section {
//     padding: 0px 10%;
// }
.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:1em;
    // align-items: flex-end; /* Align items to the bottom */
}

.home-image {
    justify-self: end;
    max-width: 100%;

}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.change-text {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1rem 0 2rem;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}



.home-content p {
    color: #bdbdbd;
    line-height: 1.6;

}



.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.social-icons {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;

}

.social-icons a {
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: 0.6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;


}

.social-icons a i {
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: var(--bg-color);

}

.social-icons a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: 0.6s;
    z-index: -1;

}

.social-icons a:hover::before {
    width: 100%;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .home-content {
        margin-top: 5rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home-image {
        margin-bottom: 0rem;
    }

    .home-content h1 {
        font-size: 2.8rem;
    }

    .home-content h3 {
    
        font-size: 2rem;
    }
   
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}