<section id="home" class="home">
    <div class="home-content">
        <h1>Hi! I'm Hadi Hawi</h1>

        <div class="change-text">
            <h3>And I'm</h3>
            <h3>
                <span class="word"
                    [@wordAnimation]="animationState === 'frontend' ? 'in' : 'out'">&nbsp;Frontend&nbsp;Developer</span>
                <span class="word"
                    [@wordAnimation]="animationState === 'backend' ? 'in' : 'out'">&nbsp;Backend&nbsp;Developer</span>
            </h3>
        </div>



        <div class="btn-box">
            <a href="#" class="btn">Download CV</a>
            <a href="#" class="btn">Hire me Now!</a>
        </div>

        <div class="social-icons">
            <a href="#"> <i class='bx bxl-linkedin'></i></a>
        </div>

    </div>
    <div class="home-image">
        <div class="img-box">
            <img src="assets/img.png" alt="">
        </div>

    </div>

</section>